diffusers==0.31.0
huggingface-hub==0.29.0
safetensors==0.4.5
numpy==1.26.4
opencv-python==4.10.0.84
pillow==11.0.0
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.3.0+cu118
torchvision==0.16.0+cu118